.cm-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background-color: #f8f8f8;
    z-index: 1040;
}

.CodeMirror {
    height: 500px;
    font-family: sans-serif;
    border: thin solid lightgray;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.CodeMirror-focused {
    border: #66afe9 1px solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.mde-container {
    margin: 0 auto;
}

.mde-container .mde-toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mde-container .mde-preview {
    border: thin lightgray solid;
    padding: 15px;
    margin-bottom: 15px;
}

.mde-container .mde-preview IMG {
    max-width: 80%;
    max-height: 80%;
}

.mde-container .dz-container {
    border: thin #cccccc dashed;
    min-height: 80px;
}

.mde-container .dz-container .dz-item {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.mde-container .dz-container .dz-item .item-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
}

.mde-container .dz-container .dz-item .item-progress span {
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f8f8f8;
    transition: opacity 1s .5s;
    -moz-transition: opacity 1s .5s;
    -webkit-transition: opacity 1s .5s;
    -o-transition: opacity 1s .5s;
}

.mde-container .dz-container .dz-item .item-btn {
    display: none;
    position: absolute;
    left: 0;
    bottom: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center
}

.mde-container .dz-container .dz-item:hover .item-btn {
    display: block
}

.mde-container .dz-btn {
    padding-top: 15px;
    padding-bottom: 15px
}

.mde-container .dz-img-item {
    position: relative;
    margin-bottom: 10px;

}

.mde-container .dz-img-item .img-checked {
    color: #c0c0c0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .4);
}

.mde-container .dz-img-item .img-checked span {
    color: #c0c0c0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}