.cm-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 15px
}

.CodeMirror {
    font-family: sans-serif;
    border: thin solid lightgray;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.CodeMirror-focused {
    border: #66afe9 1px solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.mde-container {
    margin: 0 auto;
}

.mde-toolbar {
    padding-top: 15px;
}

.mde-preview {
    border: thin lightgray solid;
    padding: 10px;
}

.mde-preview IMG {
    max-width: 80%;
    max-height: 80%;
}

.mde-line {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    border-bottom: thin lightgray solid;
}

.dz-container {
    border: thin #cccccc dashed;
    min-height: 80px;
}

.dz-item {
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 10px 5px 0 5px;
}

.dz-btn {
    padding: 10px 0
}

.dz-item-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 20px;
    right: 0;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .4);
}

.dz-item-cover .dz-item-btn {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.dz-item:hover .dz-item-cover {
    display: block;
}

.dz-item-cover .dz-error {
    color: #f8f8f8;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15px;
}

.dz-progress {
    margin-top: 5px;
    height: 5px;
    line-height: 5px;
    max-width: 120px;
    width: 0;
    background-color: yellowgreen;
    transition: width 1s;
    -moz-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
}

.img-item {
    position: relative;
    margin-bottom: 10px;

}

.img-checked {
    color: #c0c0c0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .4);
}

.img-checked span {
    color: #c0c0c0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}